#admin-table , #admin-table th, #admin-table td
   {
   border-collapse:collapse;
   padding: 0.2em;
   }
#admin-table tr.top-tr 
   {
   padding-left: 0.2em;
   padding-right: 0.2em;
   text-align: left;
   border-bottom: 1px solid #000000;
   }

#admin-table tr.data-tr td
   {
   text-align: center;
   padding-left: 0.2em;
   padding-right: 0.2em;
   border-left: 1px dotted #dddddd;
   border-right: 1px dotted #dddddd;
   }

#admin-table tr.bottom-tr
   {
   border-right: none;
   border-top: 1px solid #000000;
   text-align: center;
   }

